<p-panel header="Book List">
  <p-dataTable [value]="books" selectionMode="single" [(selection)]="selectedBook" (onRowSelect)="onRowSelect($event)" [paginator]="true"
    rows="15" [responsive]="true">
    <p-column field="Name" header="Name" [sortable]="true"></p-column>
    <p-column field="Description" header="Description" [sortable]="true"></p-column>
    <p-column field="CreatedDate" header="Created Date" [sortable]="true"></p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </p-footer>
  </p-dataTable>
</p-panel>

<p-dialog header="Book Details" [(visible)]="displayDialog" [responsive]="true" [width]="500" [height]="300">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="book">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="vin">Name</label>
      </div>
      <div class="ui-grid-col-8">
        <label *ngIf="book">
          {{book.Name}}
        </label>
        <input *ngIf="!book" pInputText id="vin" [(ngModel)]="book.Name" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="year">Description</label>
      </div>
      <div class="ui-grid-col-8">
        <label *ngIf="book">{{book.Description}}</label>
        <input *ngIf="!book" pInputText id="year" [(ngModel)]="book.Description" />
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" label="Delete" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa-check" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>