<p-panel header="Customer Details" *ngIf="customer">
  <form>
    <div class="row">
      <div class="col">
        <label for="">Company Name</label>
      </div>
      <div class="col">
        <label for=""> {{customer?.companyName}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Contact Name</label>
      </div>
      <div class="col">
        <label for=""> {{customer?.contactName}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Contact Title</label>
      </div>
      <div class="col">
        <label for=""> {{customer?.contactTitle}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="">Address</label>
      </div>
      <div class="col">
        <label for=""> {{customer?.address}}</label>
      </div>
    </div>
    <a name="" id="btnCustomer" class="btn btn-primary" [routerLink]="['/customers']" role="button">Back</a>
  </form>
</p-panel>