<p-panel header="Author">
  <p-dataTable [value]="authors |  async" [loading]="loading" emptyMessage="No time entries found" [reorderableColumns]="true"
    [resizableColumns]="true" [scrollable]="true" loadingIcon="fa-spinner" [paginator]="true" [rows]="10" [globalFilter]="tableSearch"
    [rowsPerPageOptions]="[5,10,15,20]" [pageLinks]="8">
    <p-column selectionMode="multiple" styleClass="selectBoxColumn"></p-column>
    <p-column field="data.name" header="Name" [sortable]="true"></p-column>
    <p-column field="data.bio" [sortable]="true" header="Bio"></p-column>
    <p-column field="data.born" [sortable]="true" header="Born">
    </p-column>
    <p-column field="data.spouse" [sortable]="true" header="Spouse"></p-column>
    <p-footer>
      <button pButton type="submit" (click)="Add()" label="{{addAuthor ? 'Hide Author' : 'Add Author'}}" style="float:left;"></button>
      <label for="tableSearch">Search: </label>
      <input id="tableSearch" #tableSearch type="text" placeholder="Search All The Things">
      <button type="button" pButton icon="fa-table" label="Export" (click)="dt.exportCSV()" style="float:right;"></button>
    </p-footer>
  </p-dataTable>
</p-panel>