<form [formGroup]="addEmployee" (ngSubmit)="onSubmit(addEmployee.value)">
  <p-panel header="Add Employee">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          First Name *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="firstName" placeholder="First Name..." />
        </div>
        <div class="ui-grid-col-4">

        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Last Name *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="lastName" placeholder="Last Name..." />
        </div>
        <div class="ui-grid-col-4">

        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Email *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="email" placeholder="Email..." />
        </div>
        <div class="ui-grid-col-4">

        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          mobile:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="mobile" placeholder="Mobile..." />
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Gender *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender" [autoWidth]="false"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">

        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Address:
        </div>
        <div class="ui-grid-col-6">
          <textarea pInputTextarea type="text" formControlName="address"></textarea>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" label="Submit" [disabled]="!addEmployee.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
    </div>
    <p>Form value: {{ addEmployee.value | json }}</p>
  </p-panel>
</form>