<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-fourth">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Ramprit Sahani</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                  vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Ramhriday Sahani</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                  vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Julie lureman</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                  vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Kevin docx</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                  vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="http://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>glen smith</strong>
                  <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                  vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>