<nav class="navbar is-danger">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="#">Dhanai fruits mart</a>

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="(authService.user$ | async)?.uid">
          <a href="#" class="navbar-link">Browse</a>
          <div class="navbar-dropdown">
            <a href="#" class="navbar-item">Amazing Product</a>
            <a href="#" class="navbar-item">Superior Quality</a>
            <a href="#" class="navbar-item">Another Amazing Product</a>
            <a [routerLink]="['/posts']" class="navbar-item">Post</a>
            <a [routerLink]="['/fruits']" class="navbar-item">Fruit</a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <a [routerLink]="['/home']" class="navbar-item is-active">Home</a>
        <a href="#" class="navbar-item" *ngIf="(authService.user$ | async)?.uid">Services</a>
        <a href="#" class="navbar-item" *ngIf="(authService.user$ | async)?.uid">Docs</a>
        <a [routerLink]="['/contacts']" class="navbar-item" *ngIf="(authService.user$ | async)?.uid">Contact</a>
        <a class=" navbar-item" *ngIf="!(authService.user$ | async)?.uid" (click)="userLogin()">Login</a>
        <a class="navbar-item" *ngIf="(authService.user$ | async)?.uid" (click)="userLogOut()">Logout</a>
      </div>
    </div>
  </div>
</nav>